{% extends 'base.html' %}

{% block content %}
<style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
<h1>{{ object.loan_name }}</h1>
<p>Loan payment: {{ object.loan_payment }}</p>
<p>Loan Interest Rate: {{ object.loan_intrest_rate }}%</p>
<table style="width:100">
    <caption>Loan Details</caption>
    <tr>
      <th>Loan Name</th>
      <th>Interest Rate</th> 
      <th>Loan Payment</th>
      <th>Previous Balance</th>
      <th>Current Balance</th>
      <th>Monthly Interest</th>
    </tr>
    <tr>
      <td>{{ object.loan_name }}</td>
      <td>{{ object.loan_interest_rate }} %</td>
      <td>{{ object.loan_payment }}</td>
      <td>{{ object.previous_balance }}</td>
      <td>{{ object.loan_current_balance }}</td>
      <td>{{ object.interest_monthly }}</td>
    </tr>
   </table>
{% endblock %}